* {
  font-family: 'Roboto', sans-serif;
  }
  html{
    background-color: darkgrey;
    background-size: cover;
    max-height: 100%;
    /* overflow-y: hidden;
    height: 100%; */
  }
  body {
    min-width: 100%;
  }
  img {
    width: 10%;
  }

  header {
    font-family: 'Quicksand', sans-serif;
    background-color:rgba(37, 41, 49, .96);
    height:50px;
    padding-bottom: 1rem;
  }

  video#hero-vid2{
 position: fixed; 
 right: 0; 
 bottom: 0;
 min-width: 50%; 
 min-height: 50%;
 width: auto; 
 height: auto; 
 z-index: -100;
 background: url('images/food/lunch-pic.png') no-repeat;
 background-size: cover;
 }

