.container {
  display: none;  
}
.site-header{
  width: 100%;
}
  
#price {
  display: block;
  width: 200px;
  padding-top: 0px;
  margin: auto;
}
/* -----------------VIDEO/IMG------------------- */


  
/* FOR HEADER MOBILE*/
/* HAMBURGER ICON */
@media(max-width: 766px){
  .hide-nav{
    display: none;
  }

  .nav-container {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    z-index: 99;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(5, 5, 5);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: aqua;
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: aqua;
  }
    
  .nav-ul {
    background-color: black;
    color: beige;
  }

  .nav-ul a:visited{
    color: rgb(243, 247, 247);
  }
  .nav-ul a:hover{
    color: blueviolet;
  }
  /* ul */
  .sidenav {
    clear: right;
    float: right;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(17, 17, 17, 0.829);
    transition: 0.5s;
  }
  .sidenav li a{
    padding: 3rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

}

/* FOR HEADER */
@media (min-width: 767px){
.nav-ul {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.445);
  color: beige;
}
.nav-ul a:visited{
  color: rgb(243, 247, 247);
}
.nav-ul a:hover, #nav-logo:hover{
  color: blueviolet;
}
.tab{
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding-left: 3rem;
}
}

#price {
  display: block;
  width: 200px;
  padding-top: 0px;
  margin: auto;
}

  #nav-logo {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 40px;
  padding-top: 15px;
  padding-left: 10px;
  transition: 300ms;
  }