.container {
  display: none;  
}
/* HEADER AND NAV BEGIN */

header {
  font-family: 'Quicksand', sans-serif;
  background-color:rgba(37, 41, 49, .96);
  height:50px;
}

.site-header{
  width: 100vw;
}
  
#price {
  display: block;
  width: 200px;
  padding-top: 20px;
  margin: auto;
}
#nav-menu li {
  display: inline;
  margin-right: 4%;
}
