#outer-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#location-notice {
margin: 2% auto;
text-align: center;
}
#logo {
font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 0.5px 0.4px rgba(70, 226, 104, 0.767);
  font-size: 700%;
  margin: 0 auto;
  text-align: center;  
  height: 70%;
}
.fakeButton {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(241, 238, 238, 0.6);
  padding: 4% 13%;
  margin-top: 2%;
  margin-right: 31%;
  margin-left: 5%;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid rgba(241, 238, 238, 0.5);
  border-radius: 80px;
  transition: 250ms;
  z-index: 5;
}
.fakeButton:hover {
  background-color:  rgba(53, 165, 77, 0.9);
  color: white;
  border-color: rgba(53, 165, 77, 0.9);
  cursor: pointer;
}
.fakeButton:active {
  background-color: rgb(70, 226, 104);
  border-color: rgb(70, 226, 104);
}
/* #signIn {
margin-right: 34%;
margin-top: 10%;
padding: 0%;

}   */
/* .btn {
  display: inline;
  align-self: center;
  width: 20%;
  height: 75px;
  margin-right: 58px;
  border: 2px solid rgba(255, 255, 255, 0.329);
  border-radius:80px; 
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  color: rgba(241, 238, 238, 0.767);
  box-shadow: none;
  outline: none;
  z-index: 1;

  min-width: 125px;
} */
/* .btn:active { 
  min-width: 125px; */
}

.btn:active { 

  background-color:rgba(70, 226, 104, 0.767);
  color: white;
  border-color: rgba(70, 226, 104, 0.767);
  cursor: pointer;
} */
/* .btn2 {
  display: inline;
  align-self: center;
  width: 15%;
  height: 4%;
  border: none;
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgba(241, 238, 238, 0.767);
  z-index: 1;
  margin-left: 42.5%;
  margin-top: 2%;
} */

/* #outterFakeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
#innerFakeButton {
  width: 50%;
} */
/* #guest {
  padding: 2% 8%;
  margin-right: 0;
} */

/* #signInButton:active, #signInButtonPopup:active {
    border:solid rgb(18, 160, 77) 2px;
    background-color: rgb(18, 160, 77);
    cursor:pointer;
} */



label input[type="radio"]{
  visibility: hidden; 
  position: absolute; 
}
#price {
  display: block;
  width: 213px;
  height: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
}
p.dollar {
  width: 50px;
    /* margin-left: 35%; */
}
#lastdollar {
  margin-right: 0%;
}
.dollar {
  font-weight: bold;
  color: white;
  background-color: rgb(87, 83, 83);
  text-align: center;
  height:  74%;
  display: inline-block;
  margin: 0 auto;
  width: 10%;
  font-weight: 100;
  border-radius: 5px;
  transition: 300ms;
  padding-top: 10px;
}
.dollar:hover {
  cursor: pointer;
  background-color: darkgray;
  color: white;
  border-color: rgba(70, 226, 104, 0.767);
  cursor: pointer;
}
input[type="radio"]:checked + p { 
  background-color: rgb(18, 160, 77);
}
.hide {
  display: none;
}
.meal-type:first-child {
  margin-top: 15px;
}
.meal-type {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.mealtype {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 45px;
  text-decoration: none;
  padding-top: 20px;
  background-color: rgb(87, 83, 83);
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
  color: white;
  transition: 300ms;
  margin: 1% auto;
}
.mealtype:hover {
background-color: darkgray;
}
.options {
  width: 500px;
  margin: 50px auto 0;
}
.current-location{
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    width: 175px;
    height: 45px;
    text-decoration: none;
    background-color: rgb(87, 83, 83);
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    color: white;
    transition: 300ms;
    border: none;
}
#or{
  /* background-color: darkgray; */
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  font-size: 25px;
  padding-top: 5px;
}
.current-location:hover {
  background-color: darkgray;
  }
  #enter-location{
    font-family: 'Quicksand', sans-serif;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      width: 175px;
      height: 45px;
      text-decoration: none;
      background-color: rgb(87, 83, 83);
      font-size: 20px;
      font-weight: 100;
      border-radius: 5px;
      color: white;
      transition: 300ms;
      margin: 10px auto;
      border: none;
  }
  #enter-location:hover {
    background-color: darkgray;
    }

h4 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  line-height: 3.5;
  max-height: 40%;
}
.textbox {
  width: 162px;
  
}
.hidden {
  display: none;
}
.text-center{
  margin-left: 50% !important;
/* width: 200%; */
}
.form-control{
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  border-radius: 5px;
  color: black;
  transition: 300ms;
margin-bottom: 2%;  
}
#range{
  background-color:rgba(104, 99, 99, 0.877);
  color: white;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
  transition: 300ms;
  border: none;
  /* margin-left: 45%; */
}
/* ----------------ABOUT PAGE W/PARALLEX------------- */
/* Video Overlay */
  #hero-vid2 {
    background-size:cover;
    bottom:0;
    right: 0;
    /* top: 0;
    left:0; */
    min-height:100vh;
/*     background-size:100%;
 */
    /* bottom:0; */
/*     top: 0;
 */
    /* height:100vh; */
    width: 100% !important;
/*     border: 0;
    margin: 0;
    padding: 0; */
    /* min-height:62%;
    min-width:100%;
    perspective:1000; */
    position:fixed;
  
    /* width:100vw; */
    z-index: -1;
    }
  
  /* Content Styles */
  /* ABOUT US */
  #content {
  background-color:rgba(104, 99, 99, 0.877);
  color: black;
  padding:2.5rem;
  position:relative;
  z-index: 1;
  text-align: center;
  height: 21%;
  }
  
  #content p {
  font-size:1.25rem;
  letter-spacing:.02rem;
  margin-bottom:1.3rem;
  }

  #content2 {
    background-color:rgba(104, 99, 99, 0.877);
    color: black;
    padding:2.5rem;
    position:relative;
    z-index:1;
    height: 122%;
    }
    
    #content2 p {
    font-size:1.25rem;
    letter-spacing:.02rem;
    margin-bottom:1.3rem;
    }
    /* a:link {
      text-decoration: none;
      color:black;
  } */
  .teamcl {
    vertical-align: top;
    display: inline-block;
    width:45%;
    text-align: center;
  }
  .founder {
    font-family: helvetica;
    color: black;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  .found a{
    font-family: helvetica;
    font-size: 20px;
    color: rgba(70, 226, 104, 0.767);
    margin-top: 10px;
  }
  .us {
    margin-left: 25px;
    font-family: helvetica;
    font-size: 18px;
    text-align: justify;
    color: black;
    width: 85%;
  }
  #tagline {
    font-family: helvetica;
    font-size: 24px;
    text-align: center;
  }
  #members1 {
    font-family:helvetica;
    font-size: 28px;
    color: black;
    text-align: center;
    margin-top: 50px;
  } 
  #khoa {
    /* height: 50%; */
    width: 20%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  #jesse, #brittany, #judah{
    height: 50%;
    width:30%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  #aaron{
    height: 50%;
    width:37%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }

  
  /* a:visited {
      text-decoration: none;
      color: black;
  }
  
  a:hover {
      text-decoration: none;
      color:black;
  }
  
  a:active {
      text-decoration: none;
      color:black; */
  }
  
  /* Media Queries */
  
  @media only screen and (max-width:768px) {
  }
  
  
  /* Visibility Helpers */
  
  @media only screen and (min-width:480px) and (max-width:768px) {
      .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
  }
  
  @media only screen and (max-width:479px) {
      .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }

      #geo {
        margin-top: 2%;
      }
      .buttons2 div button, #or {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
  }
  .buttonss{
    margin: 0 34.5%;
    display: flex;
    margin-top: -13%;
    margin-bottom: 5%;
  }
  .buttonss > div {
    margin-left: 0%;
    margin-top: 5%;
    /* padding-left: 2%; */
    padding-right: 5px;
    font-size: 20px;
  }

  .buttonss2{
    margin: 0 43.5%;
    display: flex;
    margin-top: -4%;
    margin-bottom: 24%;
  }
  .buttonss2 > div {
    margin-left: 0%;
    margin-top: 5%;
    /* padding-left: 2%; */
    padding-right: 5px;
    font-size: 20px;
  }
  #show-results{
    display: inline;
    align-self: center;
    max-width: 20%;
    height: 75px;
    margin-right: 58px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    border-radius: 80px;
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    color: rgba(241, 238, 238, 0.767);
    box-shadow: none;
    outline: none;
    z-index: 1;
  }
  .home-view {
      background-color: rgba(0,0,0,.65);
      height: 100%;
      /* left: 0; */
      position: relative;
      /* top: 0; */
      transition: background-color 300ms ease;
      /* width: 100%; */
  }
  .form-app{
    background-color: rgba(0,0,0,.65);
    height: 100%;
  }

/* --------END OF ABOUT US /PARRALEX---------------   */
#option{
  margin:50%;
  }
  
/* --------------PREFERENCE PAGE ----------------------- */
.preferences-page{
  width: 100vw;
 position: relative;
  text-align: center;
}

.foodDiv {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;

}

.foodDiv img {
  opacity: .7;
}
.preferences-page h1{
  padding-top: 20px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
}
div .foods {
  font-family: 'Roboto', sans-serif;
  float: left;
  flex-wrap: wrap;
  display: flex;
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  color: white;
  text-align:center;
  display:block;
  float:left;
  padding-top: 1px;
  
}

img {
  border-radius: 10px;
  width: 100%;

}

div input.choice {
  visibility: hidden;
  position: absolute;
}

div input.choice:checked + img {
  border: 2px solid green;
  opacity: 1;
}

img:hover {
  cursor: pointer;
  transform: scale(1.1);
  /* border:solid white 1px;  */
}

div:checked + img {
  border-color: white;
  border-width: 1px;
  opacity: 1;
}

.foods p{
  text-align: center; 
  padding-top: 8px;
}

/* ------------------------------------------ */

/*--------BEGIN NEW USER/LOGIN DIV--------*/
/*----BEGIN NEW USER----*/
#newUserDiv {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#newUserSection {
  color: white;
  font-weight: bold;
}
.userValidationPage {
  background-color: rgba(0,0,0,.65);
  height: 100vh;
  width: 100vw;
  transition: background-color 300ms ease;
}

.formInput{
  display: block;
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    width: 50%;
    height: 45px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    transition: 300ms;
    margin: auto;
  }

  .userValidationButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(104, 99, 99, 0.877);
    color: black;
    padding: 2% 5%;
    font-size: 1.5em;
    text-decoration: none;
    border: 2px solid rgba(241, 238, 238, 0.5);
    border-radius: 80px;
    transition: 250ms;
    z-index: 5;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .userValidationButton:hover {
    background-color: green;
    color: white;
  }

  #save-preferences-text{
    color: white;
    font-weight: bold;
  }

/*----END NEW USER----*/

/*----BEGIN LOGIN----*/
#loginDiv {
  text-align: center;
  position: relative;
}

.centerForm{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#loginSection {
  color: white;
  font-weight: bold;
}
.userValidationPage {
  background-color: rgba(0,0,0,.65);
  height: 100vh;
  transition: background-color 300ms ease;
}

.formInput{
  display: block;
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    width: 50%;
    height: 45px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    transition: 300ms;
    margin: auto;
  }

/*----END LOGIN----*/

/*--------END NEW USER/LOGIN----------*/

  

.results-img {
  width: 25%;
}

label input[type="radio"]{
  visibility: hidden; 
  position: absolute; 
}

#rangeBox {
width: 100%;
display: flex;
justify-content: center;
}

.buttons2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons2 div {
  width: 396px;
}

#chewsit {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;

}

#chewsit:hover {
  background-color: rgba(53, 165, 77, 0.9);
  color: white;
  border-color: rgba(53, 165, 77, 0.9);
  cursor: pointer;
}

#chewsit-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

#range-notice, #meal-notice, #price-notice {
  width: 100%;
  display: block;
  text-align: center;
  margin: 1% auto;
}

