#outer-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#location-notice {
  margin-left: 30%;
  margin-top: auto;
}
#logo {
font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 0.5px 0.4px rgba(70, 226, 104, 0.767);
  font-size: 700%;
  margin: 0 auto;
  text-align: center;  
  height: 70%;
}

.btn {
  /* display: inline;
  align-self: center;
  width: 20%;
  height: 75px;
  margin-right: 58px;
  border: 2px solid rgba(255, 255, 255, 0.329);
  border-radius:80px; 
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  color: rgba(241, 238, 238, 0.767);
  box-shadow: none;
  outline: none;
  z-index: 1;
  min-width: 125px; */
}
.btn:active { 
  background-color:rgba(70, 226, 104, 0.767);
  color: white;
  border-color: rgba(70, 226, 104, 0.767);
  cursor: pointer;
}
.btn2 {
  display: inline;
  align-self: center;
  width: 15%;
  height: 4%;
  border: none;
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  color: rgba(241, 238, 238, 0.767);
  z-index: 1;
  margin-left: 42.5%;
  margin-top: 2%;
}

#outterFakeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
#innerFakeButton {
  width: 50%;
}
.fakeButton {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(241, 238, 238, 0.6);
  padding: 2% 5%;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid rgba(241, 238, 238, 0.5);
  border-radius: 80px;
  transition: 250ms;
}

#signIn {
margin: auto;
}
/* #guest {
  padding: 2% 8%;
  margin-right: 0;
} */

#signInButton:active, #signInButtonPopup:active {
    border:solid rgb(18, 160, 77) 2px;
    background-color: rgb(18, 160, 77);
    cursor:pointer;
}

.fakeButton:hover {
  background-color:  rgba(53, 165, 77, 0.9);
  color: white;
  border-color: rgba(53, 165, 77, 0.9);
  cursor: pointer;
}
.btn:active {
  background-color: rgb(70, 226, 104);
  border-color: rgb(70, 226, 104);
}
/* DOLLAR TEST */
label input[type="radio"]{
  visibility: hidden; 
  position: absolute; 
}
#price {
  display: block;
  width: 100%;
  height: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
}
p.dollar {
  width: 7%;
    margin-right: -35%;
    margin-left: 35%;
}
#lastdollar {
  margin-right: 0%;
}
.dollar {
  font-weight: bold;
  color: white;
  background-color: rgb(87, 83, 83);
  text-align: center;
  height:  74%;
  display: inline-block;
  margin: 0 auto;
  width: 10%;
  font-weight: 100;
  border-radius: 5px;
  transition: 300ms;
  padding-top: 10px;
}
.dollar:hover {
  cursor: pointer;
  background-color: darkgray;
  color: white;
  border-color: rgba(70, 226, 104, 0.767);
  cursor: pointer;
}
input[type="radio"]:checked + p { 
  background-color: rgb(18, 160, 77);
}
.hide {
  display: none;
}
.meal-type:first-child {
  margin-top: 15px;
}
.meal-type {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.mealtype {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 45px;
  text-decoration: none;
  padding-top: 3%;
  background-color: rgb(87, 83, 83);
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
  color: white;
  transition: 300ms;
  margin: 1% auto;
}
.mealtype:hover {
background-color: darkgray;
}
.options {
  width: 500px;
  margin: 50px auto 0;
}
.current-location{
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    width: 25%;
    height: 45px;
    text-decoration: none;
    background-color: rgb(87, 83, 83);
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    color: white;
    transition: 300ms;
    /* margin: 10px auto; */
    margin-left: 28%;
}
#or{
  /* background-color: darkgray; */
  color:white;
  font-size: 25px;
}
.current-location:hover {
  background-color: darkgray;
  }
  #enter-location{
    font-family: 'Quicksand', sans-serif;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      width: 250px;
      height: 45px;
      text-decoration: none;
      background-color: rgb(87, 83, 83);
      font-size: 20px;
      font-weight: 100;
      border-radius: 5px;
      color: white;
      transition: 300ms;
      margin: 10px auto;
  }
  #enter-location:hover {
    background-color: darkgray;
    }
h4 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  line-height: 3.5;
  max-height: 40%;
}
.textbox {
  width: 162px;
  
}
.hidden {
  display: none;
}
.text-center{
  margin-left: 50% !important;
/* width: 200%; */
}
.form-control{
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  border-radius: 5px;
  color: black;
  transition: 300ms;
  /* margin: 10px auto; */
  margin-left: 27.5%;
}
#range{
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
  transition: 300ms;
  margin-left: 45%;
}
/* ----------------ABOUT PAGE W/PARALLEX------------- */
/* Video Overlay */
  #hero-vid2 {
    background-size:cover;
    bottom:0;
    height:auto;
    /* min-height:62%;
    min-width:100%;
    perspective:1000; */
    position:fixed;
    right:0;
    width:auto;
    z-index: -1;
    }
  
  /* Content Styles */
  /* ABOUT US */
  /* #content {
  background-color:rgba(104, 99, 99, 0.877);
  color: black;
  padding:2.5rem;
  position:relative;
  z-index: 1;
  text-align: center;
  }
  
  #content p {
  font-size:1.25rem;
  letter-spacing:.02rem;
  margin-bottom:1.3rem;
  } */
  
  #content2 {
    background-color:rgba(104, 99, 99, 0.877);
    color: black;
    padding:2.5rem;
    position:relative;
    z-index:1;
    height: 122%;
    }
    
    #content2 p {
    font-size:1.25rem;
    letter-spacing:.02rem;
    margin-bottom:1.3rem;
    }
    /* a:link {
      text-decoration: none;
      color:black;
  } */
  .teamcl {
    vertical-align: top;
    display: inline-block;
    width:45%;
    text-align: center;
  }
  .founder {
    font-family: helvetica;
    color: black;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  .found a{
    font-family: helvetica;
    font-size: 20px;
    color: rgba(70, 226, 104, 0.767);
    margin-top: 10px;
  }
  .us {
    margin-left: 25px;
    font-family: helvetica;
    font-size: 18px;
    text-align: justify;
    color: black;
    width: 85%;
  }
  #tagline {
    font-family: helvetica;
    font-size: 24px;
    text-align: center;
  }
  #members1 {
    font-family:helvetica;
    font-size: 28px;
    color: black;
    text-align: center;
    margin-top: 50px;
  } 
  #khoa {
    /* height: 50%; */
    width: 20%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  #jesse{
    height: 50%;
    width:30%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  #aaron{
    height: 50%;
    width:37%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  #brittany{
    height: 50%;
    width:30%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  #judah{
    height: 50%;
    width:30%;
    display: block;
    margin: auto;   
    border-radius: 100%;
  }
  
  /* a:visited {
      text-decoration: none;
      color: black;
  }
  
  a:hover {
      text-decoration: none;
      color:black;
  }
  
  a:active {
      text-decoration: none;
      color:black; */
  }
  
  /* Media Queries */
  
  @media only screen and (max-width:768px) {
  }
  
  
  /* Visibility Helpers */
  
  @media only screen and (min-width:480px) and (max-width:768px) {
      .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
  }
  
  @media only screen and (max-width:479px) {
      .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
  }
  .buttons{
    margin: 0 27.5%;
  }
  .buttons2{
    display:inline;
    margin-left: auto;
  }
  #show-results{
    display: inline;
    align-self: center;
    max-width: 20%;
    height: 75px;
    margin-right: 58px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    border-radius: 80px;
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    color: rgba(241, 238, 238, 0.767);
    box-shadow: none;
    outline: none;
    z-index: 1;
  }
  .home-view {
      background-color: rgba(0,0,0,.65);
      height: 100%;
      /* left: 0; */
      position: relative;
      /* top: 0; */
      transition: background-color 300ms ease;
      /* width: 100%; */
  }
  .form-app{
    background-color: rgba(0,0,0,.65);
  }

/* --------END OF ABOUT US /PARRALEX------------   */
#option{
  margin:50%;
  }
  
/* --------------check box ----------------------- */
@import "bourbon";
@keyframes pull{
  0% { height: 0; }
  100% { height: 1.2rem;  }
}

@keyframes pop {
0% { opacity:0; }
75% {opacity:1; }
100% { transform: scale(1.2); }
}


.checkbox {
  margin: 15px;
}

ul {
  list-style-type: none;
}
.choice {
  display:none;
}

.choice + label span {
    display:inline-block;
    width:25px;
    height:19px;
    margin: 0 5px -4px 0; /*layout relationship between check and label*/
    &:before,
    &:after {
		  @include transition(all .3s ease-in-out);
		  content: "";
		  position: absolute;
		  z-index: 1;
		  width: 15px;
		  height: 15px;
      /* background: transparent; */
      background: black;
		  border: 2px solid black; 
    }
     &:after {
      z-index: 0;
      border: none;
    }
}

.choice:checked + label span {
     &:before {
      @include transform(rotateY(180deg));
      background: black;
    }
}
