.outer-container {
  /* position: fixed; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.637)
}

#location-notice {
margin: 2% auto;
text-align: center;
}

/* --------------------HOME PAGE-------------------------- */
#home-view {
  height: 77vh;
  margin: 0 auto;
  width: 100%;
  margin-top: 10%;
}

#logo {
  display: flex;
  justify-content: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  font-size: 700%;
  text-align: center; 
  margin-bottom: -150px;
}

.home-button-container{
  margin-top: -4%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1%;  
}

.fakeButton {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(241, 238, 238, 0.6);
  margin-top: 2%;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 13px;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid rgba(241, 238, 238, 0.5);
  border-radius: 80px;
  transition: 250ms;
  z-index: 5;
}
.fakeButton:hover {
  background-color:  rgba(53, 165, 77, 0.9);
  color: white;
  border-color: rgba(53, 165, 77, 0.9);
  cursor: pointer;
}
.fakeButton:active {
  background-color: rgb(70, 226, 104);
  border-color: rgb(70, 226, 104);
}

.fakeButton2 {
  margin: 2% auto;
  display: flex;
  width: 150px;
  /* text-decoration: underline; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(241, 238, 238, 0.6);
  padding: 5px;
  font-size: 1.3em;
  transition: 250ms;
  z-index: 5;
}
.fakeButton2:hover {
  color: purple;
  border-color: purple;
  cursor: pointer;
}
.fakeButton2:active {
  color: rgb(90, 9, 90);
  border-color: rgb(90, 9, 90);;
}

/* --------------------HOME PAGE ENDS-------------------------- */

/* ----------------ABOUT PAGE------------- */


#abouthead2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.scroll-up {
  letter-spacing: 3em;
}

.left {
  padding-left: 50px;
}
#content {
background-color:rgba(104, 99, 99, 0.938);
position:relative;
z-index: 1;
text-align: center;
height: 21%;
}

#content p {
  font-family: Arial, Helvetica, sans-serif;
color: white;
font-size:1.25rem;
letter-spacing:.02rem;
margin-bottom:1.3rem;
margin-right: 15%;
margin-left: 15%;
}

#content2 {
  background-color:rgba(104, 99, 99, 0.938);
  color: white;
padding-top:2%;
padding:2.5rem;
position:relative;
z-index:1;
height: 122%;
overflow: hidden;
}

#content2 p {
font-size:1.25rem;
letter-spacing:.02rem;
margin-bottom:1.3rem;
}

.founder {
font-family: helvetica;
color: white;
text-align: center;
font-size: 24px;
margin-top: 20px;
}
.found a{
font-family: helvetica;
font-size: 20px;
color: rgba(70, 226, 104, 0.767);
margin-top: 10px;
}

.about-pic {
  width: 150px;
  height: 150px;
  border-radius: 360px;
  display: block;
  margin: 0 auto;
}
#content2 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-top: 4%;
  text-align: center;
}

.teamcl {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 48%;
  float: left;
  padding: 0 1%;
}
/* ----------------ABOUT PAGE ENDS------------- */

/*----BEGIN NEW USER----*/


#signIn {
  margin-right: 34%;
  margin-top: 10%;
  padding: 0%;
  }

#newUserDiv {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#newUserSection {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

#newUserSection p span {
  font-style: italic;
  color: rgb(241, 64, 64)
}
.userValidationPage {
  height: 100vh;
  width: 100vw;
  transition: background-color 300ms ease;
}

.formInput{
  display: block;
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    width: 50%;
    height: 45px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    transition: 300ms;
    margin: auto;
  }
  .formInput:first-child {
    margin-bottom: 2%;
  }

  .userValidationButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(104, 99, 99, 0.877);
    color: white;
    padding: 2% 5%;
    font-size: 1.5em;
    text-decoration: none;
    border: 2px solid rgba(104, 99, 99, 0.877);
    border-radius: 80px;
    transition: 250ms;
    z-index: 5;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .userValidationButton:hover {
    background-color: rgba(0, 128, 0, 0.897);
    border-color: rgba(0, 128, 0, 0.877);
    cursor: pointer;
  }

  #save-preferences-text{
    color: white;
    font-weight: bold;
  }

  #loginSection {
    font-family: Arial, Helvetica, sans-serif;
  }

/*----END NEW USER----*/

/*----BEGIN LOGIN----*/
#loginDiv {
  text-align: center;
  position: relative;
}

.centerForm{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#loginSection {
  color: white;
  font-weight: bold;
}
.userValidationPage {
  height: 100vh;
  transition: background-color 300ms ease;
}

.formInput{
  display: block;
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    width: 50%;
    height: 45px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    transition: 300ms;
    margin: auto;
  }

/*----END LOGIN----*/


/*----MAIN FORM START----*/

#app-form-container{
  height: 100vh;
}

#app-form {
  margin-top: 5vh;
}

label input[type="radio"]{
  visibility: hidden; 
  position: absolute; 
}

#price {
  display: block;
  width: 213px;
  height: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
}
p.dollar {
  width: 50px;
}
#lastdollar {
  margin-right: 0%;
}
.dollar {
  font-weight: bold;
  color: white;
  background-color: rgb(87, 83, 83);
  text-align: center;
  height:  74%;
  display: inline-block;
  margin: 0 auto;
  width: 10%;
  font-weight: 100;
  border-radius: 5px;
  transition: 300ms;
  padding-top: 10px;
}
.dollar:hover {
  cursor: pointer;
  background-color: darkgray;
  color: white;
  border-color: rgba(70, 226, 104, 0.767);
  cursor: pointer;
}
input[type="radio"]:checked + p { 
  background-color: rgb(18, 160, 77);
}
.hide {
  display: none;
}
.meal-type:first-child {
  margin-top: 15px;
}
.meal-type {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.mealtype {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 45px;
  text-decoration: none;
  padding-top: 20px;
  background-color: rgb(87, 83, 83);
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
  color: white;
  transition: 300ms;
  margin: 1% auto;
}
.mealtype:hover {
background-color: darkgray;
}
.options {
  width: 500px;
  margin: 50px auto 0;
}
.current-location{
  font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    width: 175px;
    height: 45px;
    text-decoration: none;
    background-color: rgb(87, 83, 83);
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    color: white;
    transition: 300ms;
    border: none;
}
#or{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  font-size: 25px;
  padding-top: 5px;
}
.current-location:hover {
  background-color: darkgray;
  }
  #enter-location{
    font-family: 'Quicksand', sans-serif;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      width: 175px;
      height: 45px;
      text-decoration: none;
      background-color: rgb(87, 83, 83);
      font-size: 20px;
      font-weight: 100;
      border-radius: 5px;
      color: white;
      transition: 300ms;
      margin: 10px auto;
      border: none;
  }
  #enter-location:hover {
    background-color: darkgray;
    }

h4 {
  color: white;
  font-weight: bold;
  line-height: 3.5;

}
.textbox {
  width: 162px;
  
}
.hidden {
  display: none;
}

.form-control{
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  border-radius: 5px;
  color: black;
  transition: 300ms;
margin-bottom: 2%;  
}
#range{
  background-color:rgba(104, 99, 99, 0.877);
  color: white;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  width: 110px;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
  transition: 300ms;
  border: none;
}  

#signInPlease {
  padding-bottom: 2%;
  margin: 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

#signInPlease a {
  color: rgb(179, 175, 175);
  text-decoration: underline;
  font-style: italic;
}

/*----MAIN FORM END----*/

  
/* --------------PREFERENCE PAGE ----------------------- */
.preferences-page{
  width: 100vw;
  height: 100vh;
 position: relative;
  text-align: center;
    background-color:rgba(104, 99, 99, 0.801);
}

.foodDiv {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.foodDiv img {
  opacity: .3;
}
.preferences-page h1{
  padding-top: 20px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
}

div .foods {
  font-family: 'Roboto', sans-serif;
  float: left;
  flex-wrap: wrap;
  display: flex;
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  color: white;
  text-align:center;
  display:block;
  float:left;
  padding-top: 1px;
}

img {
  border-radius: 10px;
  width: 100%;

}

div input.choice {
  visibility: hidden;
  position: absolute;
}

div input.choice:checked + img {
  border: 2px solid green;
  opacity: 1;
}

.img-hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}

div:checked + img {
  border-color: white;
  border-width: 1px;
  opacity: 1;
}

.foods p{
  text-align: center; 
  padding-top: 8px;
}

/* -----------END PREFERENCE PAGE----------- */

.results-img {
  width: 25%;
  margin-top: 4%;
}


label input[type="radio"]{
  visibility: hidden; 
  position: absolute; 
}

#rangeBox {
width: 100%;
display: flex;
justify-content: center;
}

.buttons2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons2 div {
  width: 396px;
}

#chewsit {
  margin-top: 1%;
  border: 2px solid rgba(241, 238, 238, 0.6);
  outline: none;
  box-shadow: none;
  color: rgba(241, 238, 238, 0.6);
  width: 140px;
  height: 60px;
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  transition: 250ms;
}

#chewsit:hover {
  background-color: rgba(53, 165, 77, 0.9);
  color: white;
  border-color: rgba(53, 165, 77, 0.9);
  cursor: pointer;
}

#chewsit-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

#range-notice, #meal-notice, #price-notice {
  width: 100%;
  display: block;
  text-align: center;
  margin: 1% auto;
}

.icon-spinner {

  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.726);
  font-size: 50px;
  animation: rotate 2.5s linear infinite;
  -webkit-animation: rotate 2.5s linear infinite;
  -moz-animation:    rotate 2.5s linear infinite;
  -o-animation:      rotate 2.5s linear infinite;   
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*-----BEGIN RESULTS SECTION---*/
#display-results {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#resultsDiv {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

#results-list{
  max-height: 80%;
  max-width: 80%;
}

#res-img{
  width: 80%;
  max-width: 700px;
  max-height: 50%;
  margin-bottom: 2%;
  opacity: 1;
  z-index: 2;
}

#resultsDiv li {
  color: white;
  font-weight: bold;
  background: gray;
  opacity: .9;
  z-index: -1;
  border-radius: 5px;
  padding: 2%;
  width: 100%;
}

#resultsDiv button {
  height: 40px;
  width: 100px;
  font-size: 1.4em;
  padding: 0;
}

/*-----END RESULTS SECTION---*/

/*-----MEDIA---*/
  
  @media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
   
  html {
      background: linear-gradient( rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315) ), url('../images/bamboo.jpg');
      background-repeat: repeat-y;
    background-size:cover;
  }


#home-view {
  width: 100%;
  margin-top: 10%;
}

#logo {
  margin-top: 25%;
}

.teamc1 {
  width: 100%
}
#members {
  padding-left: 0;
}
.preferences-page{
  background-color:rgba(104, 99, 99, 0.952);
}

.home-button-container {
  margin-top: -4%;
}
.scroll-up {
  padding-left: 50px;
}
.left {
  display: none;
}

#content2 {
  padding: 0%;
}
#content2 {
  padding: 4%;
}
#newUserSection p {
  width: 100%;
}

.centerForm {
  width: 90%;
}

#app-form {
  margin-top: 5vh;
}
#signInPlease {
width: 90%
}
}

@media only screen and (max-width:479px)  {
.hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }

#geo {
  margin-top: 2%;
}

.buttons2 div button, #or {
  display: block;
  margin: 0 auto;
  text-align: center;
}

html {
  background: linear-gradient( rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315) ), url('../images/bamboo.jpg');
  background-repeat: repeat-y;
  background-size:cover;
}

.teamc1 {
  width: 100%
}

#members {
  padding-left: 0;
}

.preferences-page{
  background-color:rgba(104, 99, 99, 0.952);
}

#home-view {
  width: 100%;
  height: 75vh;
}

.scroll-up {
  padding-left: 50px;
}
.left {
  display: none;
}

#logo {
  font-size: 500%;
  margin-top: 40%;
}

.home-button-container {
  margin-top: 50px;
}
#content2 {
  padding: 4%;
}
#newUserSection p {
  width: 100%;
}
.centerForm {
  width: 90%;
}
#app-form {
  margin-top: 5vh;
}
#signInPlease {
  width: 90%
  }
}


@media only screen and (max-width:768px) {
  .teamcl {
    width: 100%;
  }
  #content2 {
    padding: 4%;
  }
} 

#show-results{
  display: inline;
  align-self: center;
  max-width: 20%;
  height: 75px;
  margin-right: 58px;
  border: 2px solid rgba(255, 255, 255, 0.329);
  border-radius: 80px;
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  color: rgba(241, 238, 238, 0.767);
  box-shadow: none;
  outline: none;
  z-index: 1;
}
