* {
font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

div.overLay {
  background-color:rgba(37, 41, 49, 0.7);
  position:absolute;
  height: 100%;
  width:100%;
  z-index:-1;
}